### Question 1
Use Yfinance to extract Tesla data

In [5]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
shopify = yf.Ticker("SHOP")

In [3]:
shopify_data = shopify.history(period="max")

In [4]:
shopify_data.reset_index(inplace=True)
shopify_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2015-05-20 00:00:00-04:00,1.700,1.700,1.700,1.700,0,0.0,0.0
1,2015-05-21 00:00:00-04:00,2.800,2.874,2.411,2.568,123039000,0.0,0.0
2,2015-05-22 00:00:00-04:00,2.607,3.110,2.600,2.831,28412000,0.0,0.0
3,2015-05-26 00:00:00-04:00,2.980,3.034,2.908,2.965,8202000,0.0,0.0
4,2015-05-27 00:00:00-04:00,3.067,3.081,2.700,2.750,7976000,0.0,0.0

### Question 2

In [6]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

In [7]:
html = requests.get(url).text

Parse the html data using beautiful_soup

In [8]:
parsed_data = BeautifulSoup(html)

Using BeautifulSoup or the read_html function extract the table with Tesla Revenue and store it into a dataframe named tesla_revenue. The dataframe should have columns Date and Revenue.

Click here if you need help locating the table

Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab

soup.find_all("tbody")[1]

If you want to use the read_html function the table is located at index 1

In [9]:
dates = []
revenues = []

table = parsed_data.find_all("tbody")[1]    # Want the second table showing quarterly revenue
table_rows = table.find_all("tr")
for row in table_rows:
    try:
        cells = row.find_all("td")
        dates.append(str(cells[0].string))
        revenues.append(str(cells[1].string))
    except:
        continue

tesla_revenue = pd.DataFrame(data = {"Date":dates, "Revenue":revenues})

Execute the following line to remove the comma and dollar sign from the Revenue column.

In [10]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

C:\Users\hp\AppData\Local\Temp\ipykernel_9860\349343550.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

In [11]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the tesla_revenue dataframe using the tail function. Take a screenshot of the results.

In [13]:
tesla_revenue.tail(5)

          Date Revenue
49  2010-06-30      28
50  2010-03-31      21
51  2009-12-31    None
52  2009-09-30      46
53  2009-06-30      27

### Question 3

Using the Ticker function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is GME.

In [14]:
ticker2 = yf.Ticker("GME")

Using the ticker object and the function history extract stock information and save it in a dataframe named gme_data. Set the period parameter to max so we get information for the maximum amount of time.

In [18]:
gme_data = ticker2.history(period="max")

Reset the index using the reset_index(inplace=True) function on the gme_data DataFrame and display the first five rows of the gme_data dataframe using the head function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [19]:
gme_data.reset_index(inplace=True)
gme_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

### Question 4: Use Webscraping to Extract GME Revenue Data

Use the requests library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named html_data

In [20]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html = requests.get(url).text

Parse the html data using beautiful_soup.

In [21]:
parsed_data = BeautifulSoup(html)

Using BeautifulSoup or the read_html function extract the table with GameStop Revenue and store it into a dataframe named gme_revenue. The dataframe should have columns Date and Revenue. Make sure the comma and dollar sign is removed from the Revenue column using a method similar to what you did in Question 2.

Click here if you need help locating the table

Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab

soup.find_all("tbody")[1]

If you want to use the read_html function the table is located at index 1

In [22]:
dates = []
revenues = []

table = parsed_data.find_all("tbody")[1]    # Want the second table showing quarterly revenue
table_rows = table.find_all("tr")
for row in table_rows:
    try:
        cells = row.find_all("td")
        dates.append(str(cells[0].string))
        revenues.append(str(cells[1].string))
    except:
        continue

gme_revenue = pd.DataFrame(data = {"Date":dates, "Revenue":revenues})

In [23]:
gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$',"")

C:\Users\hp\AppData\Local\Temp\ipykernel_9860\401512746.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$',"")

Display the last five rows of the gme_revenue dataframe using the tail function. Take a screenshot of the results.

In [25]:
gme_revenue.tail(5)

          Date Revenue
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709

### Question 5

Use the make_graph function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the make_graph function is make_graph(tesla_data, tesla_revenue, 'Tesla'). Note the graph will only show data upto June 2021.

In [ ]:
make_graph(tesla_data, tesla_revenue, "Tesla")

### Question 6

Use the make_graph function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the make_graph function is make_graph(gme_data, gme_revenue, 'GameStop'). Note the graph will only show data upto June 2021.

In [27]:
make_graph(gme_data, gme_revenue, "GameStop")

NameError: name 'make_graph' is not defined